

// theme colors
$bgColor : rgb(8, 17, 26);
$citizenColor : #54FDA3;
$mafiaColor : #F61A1A;
$neutralColor :#7D7D7D;
$titleColor : #e6e619;
$paragraphColor : #7c8d9e;;


// color palette
$colors: (
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

// spacing
$base-padding: 1rem;
$base-margin: 1rem;

$margin-sm: $base-margin * 0.75;
$margin-lg: $base-margin * 1.5;
$margin-xl: $base-margin * 2;
$margin-xxl: $base-margin * 3;


// borders
$base-border-thickness: 1px;
$base-border-radius: 30px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
$card-box-shadow:  1px 3px 0px  rgba(255, 255, 255, 0.5);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
