
.card {
    max-width: 300px;
    height: auto;
    margin: auto;
    float: left;
    
    img {
        max-width: 80%;
        cursor: pointer;
        border-radius: $base-border-radius;
        box-shadow: $card-box-shadow;
        &:hover{
            transform: scale(1.05);
            transition: all 50ms;
        }
    }
}

.card-single {
    max-width: 400px;
    height: auto;
    margin: auto;
    cursor: default;
}