
.card {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 20px 0px;
    
    img {
        max-width: 80%;
        cursor: pointer;
        border-radius: $base-border-radius;
        box-shadow: $card-box-shadow;
        &:hover{
            transform: scale(1.05);
            transition: all 50ms;
        }
    }
}

