.container {
    display: flex;
    justify-content: center;
}

.classification {
    width: 150px;
    height: 150px;
    background-color: map-get($colors,"orange-light");
    border-radius: 50%;
    margin: $margin-lg;
    display: flex;
    box-shadow: 0px 5px #747474;
    &:hover {
        background-color: map-get($colors,"orange");
        
    }
    img {
        max-width: 70%;
        margin: auto;
    }
}